@model List<DoacoesICCPVU.Models.Doacao>;

<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-outline-success">Incluir</button>

@{
    if (Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Donatário</th>
                    <th scope="col">Doador</th>
                    <th scope="col">Observação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doacao in Model)
                {
                    <tr>
                        <th scope="row">@doacao.NumeroOficio.ToString().PadLeft(5, '0')</th>
                        <td>@doacao.EmitidoEm</td>
                        <td>@doacao.Donatario</td>
                        <td>@doacao.Doador</td>
                        <td>@doacao.Motivo</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-outline-danger btn-sm">Excluir</button>
                                <button type="button" class="btn btn-outline-warning btn-sm">Editar</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">Imprimir</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <hr />
        <p>Sem doações!</p>
    }
}
